main.pdf
.DS_Store
.texpadtmp/
*.aux
*.out
*.log
*.bbl
*.blg
*.lof
*.log
*.toc
*.gz
jackie_comments_chapter1_7april2016.pdf
umi-proquest-form.pdf
umi-proquest-form_filledout.pdf
umi-proquest-form_filledout.formulate
